<!doctype html>
<html lang="en">
<head>
    <title>Groupie Tracker</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/css/style.css">
    <link rel="shortcut icon" href="/templates/img/itunes.ico" type="image/x-icon">
    <script src="/templates/js/index.js" type="text/javascript"></script>
</head>
<body>
    <!-- ----------------------------NAVBAR----------------------------------- -->
    <header>
        <nav class="header navbar navbar-expand p-lg-5 ms-5 me-5"  >
            <div class="container-fluid">
            <img src="/templates/img/logo.png" id="navImg">
            <a href="/" class="navbar-brand ps-lg-3"  >GROUPIE-TRACKER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto me-5";>
                    <li class="nav-item"><a href="https://01.alem.school/" class="nav-link" >01</a></li>
                    <li class="nav-item"><a href="https://01.alem.school/git/user/login" class="nav-link">Git</a></li>
                    <li class="nav-item"><a href="https://github.com/" class="nav-link">Github</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <!-- ------------------------------BODY----------------------------------------- -->
    <section class="main">
        <form method="get" action="/search/" autocomplete="off" class="search">
            <div class="input-group mb-3">
                <input type="search" class="form-control" list="search-bar-list" name="search-artist" placeholder="Find an artist..." required>
                <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Search">
            </div>              
            <datalist id="search-bar-list">
                {{range .AllArtists}}
                    <option value="{{.Name}}">{{.Name}} - Artist</option>
                    {{range .Members}}
                        <option value="{{.}}">{{.}} - Member</option>
                    {{end}}
                    <option value="{{.CreationDate}}">{{.CreationDate}} - Date of Creation</option>
                    <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - First Album</option>
                    {{range $place, $dates := .DatesLocations}}
                    <option value="{{$place}}">{{$place}} - Location</option>
                        {{range $dates}}
                            <option value="{{.}}">{{.}} - Concert Date</option>
                        {{end}}
                    {{end}}
                {{end}}
            </datalist>
        </form>
    </section>
    <!-- -------------------------------FILTER------------------------------- -->
    <form method="get" action="/filters/" autocomplete="off" class="filters">
        <div class="accordion" style="width: 80%; margin: 0 auto;" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">FILTERS</button>
                </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body filterBody">
                    <div class="firstFilter  d-flex justify-content-center flex-wrap">
                        <div class="dataFilter col-5">FILTER BY CREATION DATE:
                            <div class="range_container pt-2">
                                <div class="sliders_control">  
                                    <input id="fromSlider" type="range" value="1900" min="1900" max="2022" name="fromCreation"/>
                                    <input id="toSlider" type="range" value="2022" min="1900" max="2022" name="toCreation"/>
                                </div>
                            <div class="form_control d-flex justify-content-between">
                                <div class="form_control_container">
                                    <div class="form_control_container__time">FROM:</div>
                                    <input class="form_control_container__time__input" type="number" id="fromInput" value="1900" min="1900" max="2022"/>
                                </div>
                                
                                    <div class="form_control_container">
                                        <div class="form_control_container__time">TO:</div>
                                        <input class="form_control_container__time__input" type="number" id="toInput" value="2022" min="1900" max="2022"/>
                                </div>
                            </div>
                            </div>                    
                        </div>
                        <div class="albumFilter col-5">
                            <div class="filter-field first-album">FILTER BY FIRST ALBUM:
                                <div class="filter-param param d-flex justify-content-center" style="width: 60%; margin: 2% auto; font-size: 16px;">
                                    <div class="from">FROM: 
                                        <input type="number" min="1900" max="2022" name="first-album_from" value="1900" class="filter-param-range" />
                                    </div>
                                    <div class="to ps-3">TO:
                                        <input type="number" min="1900" max="2022" name="first-album_to" value="2022" class="filter-param-range" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secondFilter row d-flex justify-content-center flex-wrap">
                        <div class="membersFilter col-5">
                            <div class="">FILTER BY NUMBER OF MEMBERS:</div>
                            <div style="width:60%; margin:2% auto">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="2" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="3" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox1">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="4" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox2">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="5" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox1">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="6" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox2">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="7" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox1">7</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="8" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox2">8</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="9" name="memberNumber">
                                    <label class="form-check-label" for="inlineCheckbox2">more...</label>
                                </div>
                           </div>
                        </div>
                        <div class="locationFilter col-5">FILTER BY LOACTIONS OF CONCERTS:
                            <div class="input-group" style="width: 60%; margin: 2% auto;">
                                <input type="text" class="form-control" placeholder="location"  list="filter-bar-list" name="searchLocation">
                                <datalist id="filter-bar-list">
                                    {{range .AllArtists}}
                                        {{range $place, $dates := .DatesLocations}}
                                        <option value="{{$place}}">{{$place}} - Location</option>
                                        {{end}}
                                    {{end}}
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row d-flex justify-content-center" style="padding-right:8%;">
                            <button class="btn text-info col-3" type="submit" id="button-addon3" value="Filter">START</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form> 
    <!-- --------------------------BOX--------------------------------- -->
        <div class="box">
            {{if .Result}}
                {{range .Result}}
                    <div class="artist-card reveal fade-bottom" data-creation="{{.CreationDate}}">
                        <a href="/artists/{{.ID}}">
                            <img src={{.Image}}>
                            <p>{{.Name}}</p>
                        </a>
                    </div>
                {{end}} 
            {{else}}
                <p class="msg">There is no artist that match your request</p>
            {{end}}
        </div> 
    </section>
    <!-- -----------------------FOOTER-------------------------- -->
    <footer class="bg-dark">
        <div class="media-links">
            <div class="facebook">
                <a href="https://facebook.com/">
                    <img src="/templates/img/f.png" alt="icon">
                </a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/">
                    <img src="/templates/img/t.png" alt="icon">
                </a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/">
                    <img src="/templates/img/i.png" alt="icon">
                </a>
            </div>
            <div class="discord">
                <a href="https://discord.com/">
                    <img src="/templates/img/c.png" alt="icon">
                </a>
            </div>
        </div>
        <div class="authors">
            <a href="#">MARKHABAT & AIDANA</a>
        </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="/templates/js/filter.js"></script>
</body>
</html>